<section>
    <h2>My Educational Journey</h2>
    <p>Education has played a vital role in shaping my life:</p>
    <ul>
        <li><strong>School:</strong> Completed my schooling from St. Thomas Higher Secondary School,in Dimapur, excelling in academics and extracurriculars.</li>
        <li><strong>College:</strong> Currently pursuing  BCA  at Assam Down Town University, Guwahati, Assam.</li>
        <li><strong>Areas of Interest:</strong> My favorite subjects are Maths, DBMS and Data Structures</li>
    </ul>
</section>
